services:
  postgres:
    image: postgres:18
    container_name: study_sphere
    restart: always
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: root
      POSTGRES_DB: study_sphereDB
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: